html {
  display: flex;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

body {
  /* padding: 20px; */
  border: solid;
  border-color: rgba(187, 187, 187, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  margin: 30px;
  flex-grow: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-color: rgba(187, 187, 187, 0.5);
  /* border-top: unset; */
  /* border-right: unset; */
  /* border-left: unset; */
  border: unset;
}

header h1 {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif, "Gill Sans MT",
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: aliceblue;
  background-color: rgb(135, 140, 150);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: unset;
  padding: 100px;
  width: 100%;
  border-radius: 7px 7px 0px 0px;
}

main {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif, "Gill Sans MT",
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding: 20px; */
  /* margin: 5px; */
}

main h2 {
  font-size: 25px;
  font-weight: 700;
  padding: 5px;
  margin-top: 18px;
  margin-bottom: 0px;
  margin-left: 20px;
}

h3.explanation-h3 {
  width: 100%;
  /* margin: unset; */
  margin-top: unset;
  margin-bottom: unset;
  font-size: 20px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  /* text-anchor: middle; */
  /* text-align: initial; */
  /* letter-spacing: 1px; */
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
  margin: unset;
  /* margin-left: unset; */
  font-size: 21px;
  font-weight: 500;
  border: solid;
  border-color: rgba(187, 187, 187, 0.5);
  border-top: unset;
  border-right: unset;
  border-left: unset;
  padding: 10px;
  padding-left: 25px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

footer {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif, "Gill Sans MT", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex: 1;
  /* align-self: flex-start; */
  place-self: flex-start center;
  /* justify-content: space-evenly; */
  align-items: center;
  /* flex-flow: row; */
  padding: 25px;
  gap: 30px;
}

div.cardi-link {
  /* font-size: 20px; */
  /* font-weight: 400; */
  display: flex;
  flex: 1 30%;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

div.another-ling {
  /* font-size: 20px; */
  /* font-weight: 400; */
  display: flex;
  flex: 2 30%;  
  justify-content: space-between;
  align-items: center;  
  flex-flow: row;
}


a {
  color: rgb(0, 102, 255);
}

a:hover {
  color: rgb(132, 0, 255);
}

a:active {
  color: rgb(184, 11, 11);
}

a:link {
  text-decoration: underline;
}
