body {
  background-color: grey;
  margin: unset;
  > header {
    background-color: aqua;

    overflow: hidden;
  }
}

nav {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

div {
  display: flex;
  gap: 15px;
  padding: 15px;
}

div.logo {
    background-color: aliceblue;
}

div.div-li {
    background-color: aquamarine;
}

/* li {
    display: flex;
  } */

form {
  display: flex;
}
