/* Caja general sin margenes, rellenos o bordes, box-sizing para tomar en cuenta el tamaño de las cajas a partir de los bordes y no del contenido, tamaño de la página, selección de fuentes y sus dimensiones */
body {
  margin: unset;
  padding: unset;
  border: unset;

  box-sizing: border-box;

  width: 100%;
  height: 100vh;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 10px;
  font-weight: 500;

  background-color: rgb(211, 43, 226);
}
/* Dirección (utilizo de flex), espaciado en relación al main axis o cross axis, colores o bordes */
header.container {
  border: 5px solid rgba(77, 77, 77, 0.5);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: rgb(183, 37, 0);
}
/* Dirección(flex), tamaño item, centrado del item, detalles del item */
.papi-box {
  border: 5px solid rgba(77, 77, 77, 0.5);

  width: 100%;
  height: 5vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  background-color: rgb(9, 255, 0);
}
/* Detalles particulares */
ul {
  display: flex;

  list-style-type: none;
  gap: 40px;
  border: unset;
  padding: unset;
  margin: 10px;
}

main.container {
  border: 5px solid rgba(77, 77, 77, 0.5);

  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-evenly; */

  background-color: aqua;
}

.articulo {
  margin: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  gap: 25px;

  height: 100vh;

  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  border: 5px solid rgba(225, 137, 137, 0.5);
}

.barra-lateral {
  border: 5px solid rgba(77, 77, 77, 0.5);

  width: 20%;

  display: flex;
  flex-direction: column;

  background-color: sandybrown;
}

.list-lateral {
  border: 5px solid rgba(0, 0, 0, 0.5);
  gap: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

a:hover {
  color: rgb(201, 0, 0);
}

a {
  transition: color 0.5s linear 0.1s;
}
