
a {
  color: aliceblue;
}

a:hover {
  color: rgb(60, 60, 60);
}

a:active {
  color: darkgoldenrod;
}

a:link {
  text-decoration: none;
}

@media (max-width: 600px) {
  #barra-de-navegación{
    background-color: rgb(167, 184, 11);
    display: flex;
    flex-direction: column;
  }
}