* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: aliceblue;
  padding: 0 10px;
  background-size: cover;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.container {
  min-width: 400px;
  height: 150px auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-size: cover;

}

.search-input-box {
  width: 100%;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  position: relative;
  color: aliceblue;
  box-shadow: 0 1px 5px 3px black;
}

.search-input-box input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 55px;
}

label {
  display: block;
}

header {
  border: 2px solid darkgoldenrod;
}

#barra-de-navegación {
  padding: 11px;
  background-color: rgba(52, 52, 52, 0.692);
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: black;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  min-width: 400px;
  background-size: contain;
  background-size: cover;
}

main {
  border: 2px solid grey;
}

section {
  border: 1px solid grey;
}

footer {
  border: 2px solid darkgoldenrod;
}

input {
  text-align: left;
}

#Dropdown {
  background-color: rgb(209, 209, 209);
  font-family: "Courier New", Courier, monospace;
  font-style: italic; 
  font-size: small;
  font-weight: bold;
  color: #000000ab;
  padding: 12px;
  justify-content: space-between;
}

.NavBar {
  padding: 15px;
  background-color: darkgoldenrod;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: black;
  width: 150px;
  height: auto;
  align-items: stretch;
}

.Home {
  padding: 11px;
  background-color: none;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  width: 100px;
  height: auto;
  margin-left: 10px;
  align-items: stretch;
}

.Link {
  padding: 11px;
  background-color: none;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  margin-left: 10px;
  width: 100px;
  height: auto;
  align-items: stretch;
}

.Dropdown {
  padding: 11px;
  background-color: none;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  margin-left: 10px;
  width: 100px;
  height: auto;
  align-items: stretch;
}

.Selección {
  padding: 11px;
  background-color: none;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  margin-left: 10px;
  width: 100px;
  height: auto;
  align-items: stretch;
}