*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --border-red: red;
  --border-green: green;
  --border-violet: blueviolet;
  --letter-blue: blue;
  --letter-red: red;
  --letter-green: green;
  --underline-color: gray;
}

body > div.lienzo-y-border-red h1 + h2 {
  color: var(--letter-green);
  font-size: 1.75rem;
  margin: 1rem;
  text-decoration: underline var(--underline-color) solid 3px;
  border: solid 3px var(--border-red);
  padding: 1rem;
}

.fs-1rem-1, .fs-1rem-2 {
  font-size: 1rem;
}

.fs-1rem-i-color {
  background-color: white;
  color: #fcfcfc;
}

.fs-1rem-i-color {
  background-color: #040404;
  color: black;
}

.fs-2rem-1, .fs-2rem-2 {
  font-size: 2rem;
}

.fs-2rem-i-color {
  background-color: white;
  color: #fcfcfc;
}

.fs-2rem-i-color {
  background-color: #040404;
  color: black;
}

.fs-3rem-1, .fs-3rem-2 {
  font-size: 3rem;
}

.fs-3rem-i-color {
  background-color: white;
  color: #fcfcfc;
}

.fs-3rem-i-color {
  background-color: #040404;
  color: black;
}

.fs-2rem-1 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: white;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-2 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: black;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-3 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: white;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-4 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: black;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-5 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: white;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-6 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: black;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-7 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: white;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-8 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: black;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-9 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: white;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-10 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: black;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-11 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: white;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-12 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: black;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-13 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: white;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-14 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: black;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-15 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: white;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-16 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: black;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3rem-17 {
  width: 135px;
  height: 135px;
  font-size: 8.4375rem;
  background-color: white;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-1rem-18 {
  width: 45px;
  height: 45px;
  font-size: 2.8125rem;
  background-color: black;
  color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem-19 {
  width: 90px;
  height: 90px;
  font-size: 5.625rem;
  background-color: white;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body > div.lienzo-y-border-red {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 50vh;
  padding: 1.125rem;
  border: solid 3px var(--border-red);
}
body > div.lienzo-y-border-red h1 {
  color: var(--letter-green);
  font-size: 1.75rem;
  -moz-text-decoration-color: var(--underline-color);
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: solid 3px;
  text-decoration: underline var(--underline-color) solid 3px;
}
body > div.lienzo-y-border-red > section.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}
body > div.lienzo-y-border-red > section.article-container > article.p {
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: center;
  width: 25%;
  height: 100%;
}
body > div.lienzo-y-border-red > section.article-container > article.p > p.inside-mini-box1 {
  display: flex;
  align-items: center;
  color: var(--letter-red);
  border: solid 3px var(--border-green);
  padding: 1.25rem;
  text-align: center;
}
body > div.lienzo-y-border-red > section.article-container > article.p > p.inside-mini-box2 {
  display: flex;
  align-items: center;
  color: var(--letter-blue);
  border: solid 3px var(--border-green);
  padding: 1.25rem;
  text-align: center;
}
body > div.lienzo-y-border-red > section.article-container > article.p > p.inside-mini-box3 {
  display: flex;
  align-items: center;
  color: var(--letter-red);
  border: solid 3px var(--border-green);
  padding: 1.25rem;
  text-align: center;
}
body > div.lienzo-y-border-red > section.article-container > article.p > p.inside-mini-box4 {
  display: flex;
  align-items: center;
  color: var(--letter-blue);
  border: solid 3px var(--border-green);
  padding: 1.25rem;
  text-align: center;
}
body > div.lienzo-y-border-red > section.article-container + section.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}
body > div.lienzo-y-border-red > section.article-container + section.article-container div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px black solid;
  width: 2.8125rem;
  height: auto;
}
body > div.lienzo-y-border-red > section.article-container + section.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}
body > div.lienzo-y-border-red > section.article-container + section.article-container article.p-ultimo-box {
  display: flex;
  color: var(--letter-green);
  border: solid 3px var(--border-violet);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
